{% include 'layout.twig' %}
<div class="max-w-sm rounded overflow-hidden shadow-lg card">
    <img class="w-full" src="{{ companyProfile.logo }}" alt="Placeholder">
    <div class="px-6 py-4 text-center">
        <div class="font-bold text-xl mb-2 ">{{ companyProfile.name }} / {{ companyProfile.ticker }}</div>
        <p class="text-white text-base">
            Current price: {{ companies.c }} {{ companyProfile.currency }}
        </p>
        <p class="text-white text-base">
            Price change: {{ companies.d }} {{ companyProfile.currency }}
        </p>
        <p class="text-white text-base">
            Price percent change: {{ companies.dp }} %
        </p>
        <p class="text-white text-base">
            Highest price of the day: {{ companies.h }} {{ companyProfile.currency }}
        </p>
        <p class="text-white text-base">
            Lowest price of the day: {{ companies.l }} {{ companyProfile.currency }}
        </p>
        <p class="text-white text-base">
            Opening price of the day: {{ companies.o }} {{ companyProfile.currency }}
        </p>
        <p class="text-white text-base">
            Previous days close price: {{ companies.pc }} {{ companyProfile.currency }}
        </p>
    </div>
    <div class="px-6 pt-4 pb-2">
    </div>
</div>