{% extends 'layout.twig' %}
{% block content %}
    <div class="flex justify-center h-auto">
        <div class="bg-gray-200 rounded-lg shadow-md p-6 w-1/2">
            <div class="text-center">
                <h1 class="text-2xl font-bold mb-4">Name: {{ auth.name }}</h1>
                <p class="text-2xl mb-4">Email: {{ auth.email }}</p>
                <p class="text-2xl mb-4">Your balance: ${{ auth.balance|number_format(2) }}</p>
                <div class="mb-4">
                    <form action="/wallet" method="post" class="bg-white rounded-lg shadow-md p-4 w-3/4 mx-auto">
                        <h2 class="text-lg font-bold mb-4">Withdraw money</h2>
                        <label for="withdraw">
                            <input type="text" id="withdraw" name="withdraw" class="border py-2 px-3 w-full rounded-lg"
                                   placeholder="Amount">
                        </label>
                        <button class="bg-red-700 text-white py-2 px-4 rounded-lg mt-4 hover:bg-red-900">Withdraw
                        </button>
                    </form>
                </div>
                <div>
                    <form action="/wallet" method="post" class="bg-white rounded-lg shadow-md p-4 w-3/4 mx-auto">
                        <h2 class="text-lg font-bold mb-4">Deposit money</h2>
                        <label for="deposit">
                            <input type="text" id="deposit" name="deposit" class="border py-2 px-3 w-full rounded-lg"
                                   placeholder="Amount">
                        </label>
                        <button class="bg-red-700 text-white py-2 px-4 rounded-lg mt-4 hover:bg-red-900">Deposit
                        </button>
                    </form>
                </div>
                {% if error.insufficientFundsInWallet %}
                    <p class="text-xl text-red-500 my-7">Insufficient funds</p>
                {% endif %}
                <div class="mt-10 flex justify-between">
                    <a href="/transactions" class="bg-red-700 text-white py-2 px-4 rounded-lg hover:bg-red-900">View
                        transactions</a>
                    <a href="/transfer" class="bg-red-700 text-white py-2 px-4 rounded-lg hover:bg-red-900">Transfer
                        stocks</a>
                </div>
                <h1 class="text-3xl font-bold text-center mb-4">Your stocks</h1>
                <table class="table- w-full">
                    <thead>
                    <tr>
                        <th class="px-4 py-2 bg-gray-300 text-gray-800 font-bold">Symbol</th>
                        <th class="px-4 py-2 bg-gray-300 text-gray-800 font-bold">Amount</th>
                        <th class="px-4 py-2 bg-gray-300 text-gray-800 font-bold">Bought for</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for boughtStock in boughtStocks %}
                    <tr>
                        <td class="border px-4 py-2 text-xl">
                            <a href="/buySell?symbol={{ boughtStock.symbol }}">{{ boughtStock.symbol }}</a>
                        </td>
                        <td class="border px-4 py-2">{{ boughtStock.amount }}</td>
                        <td class="border px-4 py-2">{{ boughtStock.price }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}